{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container mt-3 py-5">

    <h1 style="text-align: left; color:white; padding-left: 900px;font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     line-height: 90px;margin-top: 0px;
     /* background-color: red; */
     ">Resume<br>Builder</h1>
   </div>

   <div class="container mt-1 py-1">
    <p style="text-align: left; padding-left: 800px;color:white;font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: cadetblue; */
    ">
        Resume builders are interactive online resume templates that allow you to 
    plug in information and build a cohesive resume.</p>
   </div>
    
    




</div>
</div>
{% endblock content %}