{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container  text-white border" style="margin-top: 60px;width: 600px;">
  
 <h1 >SIGN IN</h1>
 <p>Please enter the username and password.</p>
 <hr>
       <form action="" method="POST">
   {% csrf_token %}
    <fieldset class="col-lg-12">
      <legend style="color: white;">Sign In</legend>
      {{ form|crispy }}
    </fieldset>
    <div>
      <br>
      <button class="btn btn-dark text-white border btn-md">Sign In</button>
    </div>
    <div>
      <small>Don't have an account yet? <a href="{% url 'register' %}">Sign Up</a></small>
    </div>
  </form>
</div>
{% endblock %}